<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title Gastos</title>

    <!-- Styles -->
    <!-- Bootstrap CSS -->
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
    <!-- jQuery UI -->
    <link href="~/Content/Metro/css/jquery-ui.css" rel="stylesheet" />
    <!-- jQuery Gritter -->
    <link href="~/Content/Metro/css/jquery.gritter.css" rel="stylesheet" />
    <!-- Font awesome CSS -->
    <link href="~/Content/Metro/css/font-awesome.min.css" rel="stylesheet" />
    <!-- Custom CSS -->
    <link href="~/Content/Metro/css/style.css" rel="stylesheet" />
    <!-- Widgets stylesheet -->
    <link href="~/Content/Metro/css/widgets.css" rel="stylesheet" />
    <!-- Favicon -->
    <link rel="shortcut icon" href="~/Content/Metro/img/favicon/favicon.png">
    <!--toastr-->
    <link href="~/Content/toastr.min.css" rel="stylesheet" />


    <!-- Javascript files -->
    <!-- jQuery -->
    <script src="~/Scripts/jquery-2.1.4.min.js"></script>
    <!-- Bootstrap JS -->
    <script src="~/Scripts/bootstrap.min.js"></script>
    <!-- jQuery UI -->
    <script src="~/Scripts/jquery-ui-1.11.4.min.js"></script>
    <!-- jQuery Gritter -->
    <script src="~/Content/Metro/js/jquery.gritter.min.js"></script>
    <!-- Respond JS for IE8 -->
    <script src="~/Content/Metro/js/respond.min.js"></script>
    <!-- HTML5 Support for IE -->
    <script src="~/Content/Metro/js/html5shiv.js"></script>
    <!-- Custom JS -->
    <script src="~/Content/Metro/js/custom.js"></script>
    <!--Mensajes Toastr-->
    <script src="~/Scripts/toastr.min.js"></script>
    <script src="~/Scripts/Mensajestoastr.js"></script>
    <!--Validaciones-->
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <!--Ajax-->
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
    <script src="~/Scripts/jquery.validate-vsdoc.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>




</head>
<body>
   
    @RenderBody()



</body>
</html>


